foo.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="common.xsd"/>
	<!--Типы для страницы "Выписки платежей" (Платежи - Платежи по аренде)-->
	<xs:complexType name="payments-statement-base">
		<xs:annotation>
			<xs:documentation>Базовый тип выписки платежей</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Если создается новая выписка - передается 0 как заведомо несуществующий id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="num" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Номер выписки</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="date" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Дата выписки</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bank-account-id" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Банковский счет</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ro" type="db-bit">
			<xs:annotation>
				<xs:documentation>Флаг "только чтение"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="payments-statement-short">
		<xs:annotation>
			<xs:documentation>Выписка платежей (основная информация без детализации по платежам)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="payments-statement-base">
				<xs:attribute name="bank-account-name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Банковский счет</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="bank-name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Наименование банка</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="total-in-sum" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>Сумма всех поступлений</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="total-out-sum" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>Сумма всех списаний</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="total-payments-cnt" type="xs:int" use="required">
					<xs:annotation>
						<xs:documentation>Кол-во платежей в выписке</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="modify-date" type="xs:dateTime" use="required">
					<xs:annotation>
						<xs:documentation>Дата и время последнего изменения</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="user" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Пользователь, сделавший последнее изменение</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="payments-statement-full">
		<xs:annotation>
			<xs:documentation>Выписка платежей (включая платежи)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="payments-statement-short">
				<xs:sequence minOccurs="0">
					<xs:element name="payment-operation-list">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="payment-operation" type="payment-operation"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="payment">
		<xs:annotation>
			<xs:documentation>Платеж</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:int" use="required"/>
		<xs:attribute name="type-code" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Код типа платежа (in - зачисление, out - списание)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="counterparty" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Плательщик или получатель платежа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="amount" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Сумма</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tax" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>НДС</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="date" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Дата платежа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="details" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Назначение платежа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="payment-operation-binding">
		<xs:annotation>
			<xs:documentation>Описывает сведения для генерации операций на основе платежей</xs:documentation>
		</xs:annotation>
		<xs:attribute name="account-id" type="xs:int"/>
		<xs:attribute name="account-name" type="xs:string">
			<xs:annotation>
				<xs:documentation>Тип операции</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="contract-id" type="xs:int"/>
		<xs:attribute name="contract-name" type="xs:string">
			<xs:annotation>
				<xs:documentation>Договор</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="person-id" type="xs:int"/>
		<xs:attribute name="person-name" type="xs:string">
			<xs:annotation>
				<xs:documentation>Контрагент</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="period-label" type="xs:string"/>
		<xs:attribute name="period-name" type="xs:string">
			<xs:annotation>
				<xs:documentation>Период</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="amount" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>Сумма</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="include-tax" type="db-bit">
			<xs:annotation>
				<xs:documentation>Следует ли выделять НДС</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="payment-operation">
		<xs:annotation>
			<xs:documentation>Сопоставление платежей с операциями</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="payment" type="payment"/>
			<xs:element name="binding" type="payment-operation-binding" minOccurs="0"/>
			<xs:element name="operation" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="id" type="xs:int" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="payments-statement-list-proc">
		<xs:annotation>
			<xs:documentation>Процедура получения списка выписок платежей по фонду</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="get">
							<xs:complexType>
								<xs:attribute name="fund-id" type="xs:int" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="statement-list">
							<xs:complexType>
								<xs:sequence maxOccurs="unbounded">
									<xs:element name="statement" type="payments-statement-short"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payments-statement-get-proc">
		<xs:annotation>
			<xs:documentation>Процедура получения платежей по выпеске и ассоциациированных с ними операций</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="get">
							<xs:complexType>
								<xs:attribute name="id" type="xs:int" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="statement" type="payments-statement-full"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payments-statement-put-proc">
		<xs:annotation>
			<xs:documentation>Процедура создания/изменения атрибутов выписки платежей</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="put" type="payments-statement-base"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statement" type="payments-statement-short"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payments-statement-del-proc">
		<xs:annotation>
			<xs:documentation>Процедура удаления выписки вместе с ее платежами</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="del">
							<xs:complexType>
								<xs:attribute name="id" type="xs:int" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType/>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payments-statement-operation-binding-put-proc">
		<xs:annotation>
			<xs:documentation>Процедура создания/изменения сведений для создания операции по платежам выписки</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="put">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="payment-list">
										<xs:complexType>
											<xs:sequence maxOccurs="unbounded">
												<xs:element name="payment">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="payment-operation-binding">
																<xs:attribute name="payment-id" type="xs:int" use="required"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="statement-id" type="xs:int" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType/>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payments-statement-create-operations-proc">
		<xs:annotation>
			<xs:documentation>Процедура создания операций на основе платежей из выписки</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="data">
							<xs:complexType>
								<xs:attribute name="id" type="xs:int" use="required">
									<xs:annotation>
										<xs:documentation>Выписка платежей</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="payment-operation-list">
							<xs:complexType>
								<xs:sequence maxOccurs="unbounded">
									<xs:element name="payment-operation">
										<xs:complexType>
											<xs:attribute name="payment-id" type="xs:int" use="required">
												<xs:annotation>
													<xs:documentation>Платеж</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="operation-id" type="xs:int" use="optional">
												<xs:annotation>
													<xs:documentation>Операция</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="error" type="xs:string" use="optional">
												<xs:annotation>
													<xs:documentation>Текст ошибки</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-put-proc">
		<xs:annotation>
			<xs:documentation>Процедура создания/изменения платежа</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="put">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="payment">
										<xs:attribute name="statement-id" type="xs:int" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="payment-operation" type="payment-operation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-get-proc">
		<xs:annotation>
			<xs:documentation>Процедура получения платежа</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="get">
							<xs:complexType>
								<xs:attribute name="id" type="xs:int" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="payment" type="payment"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-operation-binding-put-proc">
		<xs:annotation>
			<xs:documentation>Процедура создания/изменения сведений для создания операции по плктежу</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="put">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="payment-operation-binding">
										<xs:attribute name="fund-id" type="xs:int" use="required"/>
										<xs:attribute name="payment-id" type="xs:int" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payments-statement-import-proc">
		<xs:annotation>
			<xs:documentation>Процедура импорта выписки платежей из файла</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statement">
							<xs:complexType>
								<xs:attribute name="id" type="xs:int" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="payments-statement-accept-import-proc">
		<xs:annotation>
			<xs:documentation>Процедура импорта согласий на платежи из файла</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="load">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="errors">
										<xs:complexType>
											<xs:sequence maxOccurs="unbounded">
												<xs:element name="error">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="pay">
																<xs:complexType>
																	<xs:attribute name="pmt-num" type="xs:string">
																		<xs:annotation>
																			<xs:documentation>номер платежа</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="pmt-date" type="xs:date" use="required">
																		<xs:annotation>
																			<xs:documentation>дата платежа</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="pmt-sum" type="xs:double" use="required">
																		<xs:annotation>
																			<xs:documentation>сумма</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="pmt-payment-purpose" type="xs:string" use="required">
																		<xs:annotation>
																			<xs:documentation>описание платежа</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="payer-name" type="xs:string">
																		<xs:annotation>
																			<xs:documentation>плательщик</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="payee-name" type="xs:string">
																		<xs:annotation>
																			<xs:documentation>получатель</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="msg" type="xs:string" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="load" type="xs:int" use="required">
									<xs:annotation>
										<xs:documentation>кол-во загружено</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="skip" type="xs:int" use="required">
									<xs:annotation>
										<xs:documentation>Не загружалось (было загружено ранее)</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="error" type="xs:int" use="required">
									<xs:annotation>
										<xs:documentation>Не загрузилось изза ошибки </xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Типы для страницы "Квитовка начислений и авансов"-->
	<xs:complexType name="part-list-type">
		<xs:annotation>
			<xs:documentation>Сумма операций</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="part-list" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Список операций, которые сформировали итоговую сумму</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="part" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="id" type="xs:int" use="required">
									<xs:annotation>
										<xs:documentation>ИД счета</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="label" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>Краткое обозначени счета или операции</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="balance" type="xs:decimal" use="required">
									<xs:annotation>
										<xs:documentation>Сумма остатка на счета или сумма операции</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="sum" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Итоговая сумма</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="acrrue-part-list-type">
		<xs:annotation>
			<xs:documentation>Сумма операций</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="part-list" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Список операций, которые сформировали итоговую сумму</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="part" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="id" type="xs:int" use="required">
									<xs:annotation>
										<xs:documentation>ИД счета</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="label" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>Краткое обозначени счета или операции</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="sum" type="xs:decimal" use="required">
									<xs:annotation>
										<xs:documentation>Сумма начислния</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="balance" type="xs:decimal" use="required">
									<xs:annotation>
										<xs:documentation>Сумма остатка</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="sum" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Итоговая сумма</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="balance" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>Итоговый остаток</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="accrue-payment-matching">
		<xs:annotation>
			<xs:documentation>Квитовка начисления и оплат</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="accrue" type="acrrue-part-list-type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Начисление</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="payment" type="part-list-type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Оплата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bind-result" type="part-list-type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Зачтено</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="payment-matching-filter">
		<xs:annotation>
			<xs:documentation>Фильтр для получения списка начислений, оплат и их зачетов друг с другом</xs:documentation>
		</xs:annotation>
		<xs:attribute name="fund-id" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>ID фонда в системе Факт</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="balance-not-null" type="db-bit" use="optional">
			<xs:annotation>
				<xs:documentation>Показываем только начисления с ненулевым остатком</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="period-label" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Фильтр начислений по субконто период. Имеет больший приоритет, чем атрибут date</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="contract-id" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Фильтр начислений по субконто договор</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="person-id" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Фильтр начислений по субконто контрагент</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="corr-account-id" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Фильтр по коррсчету</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="payment-matching-table">
		<xs:annotation>
			<xs:documentation>Таблица квитовки</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="contract-person-list" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="contract-person" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="contract" type="db-id-name"/>
									<xs:element name="person" type="db-id-name"/>
									<xs:element name="period-list">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="period" maxOccurs="unbounded">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="accrue-payment-matching">
																<xs:attribute name="period-id" type="xs:string" use="required"/>
																<xs:attribute name="period-label" type="xs:string" use="optional"/>
																<xs:attribute name="period-name" type="xs:string" use="optional"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="total">
				<xs:complexType>
					<xs:attribute name="balance-not-null-cnt" type="xs:int" use="required">
						<xs:annotation>
							<xs:documentation>Кол-во счетов с ненулевыми остатками</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="enable-auto-binding" type="db-bit">
						<xs:annotation>
							<xs:documentation>Признак возможности автоматической квитовки</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="payment-matching-bind-result">
		<xs:annotation>
			<xs:documentation>Результат ручной квитовки</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="accrue-payment-matching">
				<xs:attributeGroup ref="contract-person-period"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="payment-matching-list-proc">
		<xs:annotation>
			<xs:documentation>Процедура получения списка начислений, оплат и их зачетов друг с другом</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="get" type="payment-matching-filter"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response" type="payment-matching-table"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-matching-auto-bind-proc">
		<xs:annotation>
			<xs:documentation>Процедура автоматического зачета начислений и оплат. Возвращает новую таблицу квитовки.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="put">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="payment-matching-filter">
										<xs:attribute name="date" type="xs:date" use="required">
											<xs:annotation>
												<xs:documentation>Дата, в которой создаем операции зачета</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-bind-proc">
		<xs:annotation>
			<xs:documentation>Процедура ручного зачета платежа (в том числе и неопознанного)</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="put">
							<xs:complexType>
								<xs:all>
									<xs:element name="src">
										<xs:annotation>
											<xs:documentation>Платеж</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="account-id" type="xs:int" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="dest">
										<xs:annotation>
											<xs:documentation>Начисление</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="account-id" type="xs:int" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:all>
								<xs:attribute name="sum" type="xs:decimal" use="required">
									<xs:annotation>
										<xs:documentation>Часть или вся сумма платежа для зачета начисления</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="tax" type="xs:decimal" use="optional">
									<xs:annotation>
										<xs:documentation>Сумма НДС</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="date" type="xs:date" use="required">
									<xs:annotation>
										<xs:documentation>Дата, в которой создаем операции зачета</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType/>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-matching-unbind-payment-proc">
		<xs:annotation>
			<xs:documentation>Процедура ручного отката зачтенного платежа</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="put">
							<xs:complexType>
								<xs:attribute name="fund-id" type="xs:int" use="required"/>
								<xs:attribute name="operation-id" type="xs:int" use="required">
									<xs:annotation>
										<xs:documentation>ID операции платежа</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-matching-transfer-payment-proc">
		<xs:annotation>
			<xs:documentation>Процедура переноса платежа из периода "не определен" в конкретный период</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="put">
							<xs:complexType>
								<xs:all>
									<xs:element name="src">
										<xs:annotation>
											<xs:documentation>Начисление</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="account-id" type="xs:int" use="required">
												<xs:annotation>
													<xs:documentation>Счет платежа</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="dest">
										<xs:annotation>
											<xs:documentation>Платеж</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attributeGroup ref="contract-person-period"/>
											<xs:attribute name="an-account-id" type="xs:int" use="required">
												<xs:annotation>
													<xs:documentation>Аналитический счет</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:all>
								<xs:attribute name="sum" type="xs:decimal" use="required">
									<xs:annotation>
										<xs:documentation>Часть или вся сумма платежа для зачета начисления</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="date" type="xs:date" use="required">
									<xs:annotation>
										<xs:documentation>Дата, в которую создастся операция</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType/>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-matching-refund-payment-proc">
		<xs:annotation>
			<xs:documentation>Процедура возврата средств платежа на расчетный счет</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="put">
							<xs:complexType>
								<xs:all>
									<xs:element name="src">
										<xs:annotation>
											<xs:documentation>Оплата</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="account-id" type="xs:int" use="required">
												<xs:annotation>
													<xs:documentation>Счет платежа</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="dest">
										<xs:annotation>
											<xs:documentation>Рассчетный счет</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="bank-account-id" type="xs:int" use="required">
												<xs:annotation>
													<xs:documentation>Рассчетный счет</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:all>
								<xs:attribute name="sum" type="xs:decimal" use="required">
									<xs:annotation>
										<xs:documentation>Часть или вся сумма платежа для возврата на рассчетный счет</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="tax" type="xs:decimal" use="optional">
									<xs:annotation>
										<xs:documentation>НДС</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="date" type="xs:date" use="required">
									<xs:annotation>
										<xs:documentation>Дата, в которую создастся операция</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType/>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-matching-account-list-for-bind-proc">
		<xs:annotation>
			<xs:documentation>Процедура получения списка субконтированных счетов начисления, в которые может быть зачтнена оплата</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="get">
							<xs:complexType>
								<xs:attribute name="payment-account-id" type="xs:int" use="required">
									<xs:annotation>
										<xs:documentation>Счет субконто платежа</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="date" type="xs:date" use="required">
									<xs:annotation>
										<xs:documentation>Дата, в которую будет создана операция зачета</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response" type="contract-balance-search-response"/>
		</xs:choice>
	</xs:complexType>
	<!--Типы для страницы "Неопознанные платежи"-->
	<xs:complexType name="payment-undefined-list-proc">
		<xs:annotation>
			<xs:documentation>Процедура получения списка Неопознанных платежей</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="get">
							<xs:complexType>
								<xs:attribute name="fund-id" type="xs:int" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="account-list" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Список неопознанных платежей на счете</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence maxOccurs="unbounded">
									<xs:element name="account">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="payment">
													<xs:annotation>
														<xs:documentation>Субконто платеж</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="payment">
																<xs:attribute name="tax-was-extracted" type="db-bit">
																	<xs:annotation>
																		<xs:documentation>Признак того, выделяли ли НДС при поступлении</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:int" use="required">
												<xs:annotation>
													<xs:documentation>ИД субконтированнгого счета</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="amount" type="xs:decimal" use="required">
												<xs:annotation>
													<xs:documentation>Остаток на счете</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-undefined-transfer-proc">
		<xs:annotation>
			<xs:documentation>Процедура переноса неопознанного платежа на субконтированный счет</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="put">
							<xs:complexType>
								<xs:all>
									<xs:element name="src">
										<xs:annotation>
											<xs:documentation>Субконтированный счет неопознанного платежа</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="account-id" type="xs:int" use="required">
												<xs:annotation>
													<xs:documentation>ИД субконтированного счета платежа</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="dest">
										<xs:annotation>
											<xs:documentation>Субконтированный счет, на который переносится неопознанный платеж</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attributeGroup ref="contract-person-period"/>
											<xs:attribute name="an-account-id" type="xs:int" use="required">
												<xs:annotation>
													<xs:documentation>Аналитический счет</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:all>
								<xs:attribute name="sum" type="xs:decimal" use="required">
									<xs:annotation>
										<xs:documentation>Часть или вся сумма платежа для зачета начисления</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="tax" type="xs:decimal" use="optional">
									<xs:annotation>
										<xs:documentation>Сумма НДС. Нужно передать тольуо в том случае, если у платежа отсутствовал признак "tax-was-extracted"</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="date" type="xs:date" use="required">
									<xs:annotation>
										<xs:documentation>Дата, в которую создастся операция</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response">
				<xs:complexType/>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="payment-matching-contarct-balance-search">
		<xs:annotation>
			<xs:documentation>Процедура получения субконтированнызх счетов для зачета неопознанного платежа</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="get">
							<xs:complexType>
								<xs:attribute name="fact-fund-id" type="xs:int" use="required"/>
								<xs:attribute name="ss" type="xs:string">
									<xs:annotation>
										<xs:documentation>Поисковая строка</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="response" type="contract-balance-search-response"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
